<div class="flex-container">

  <div class="profile-pic">
    <img mat-card-image src="../../assets/Snapseed (10).jpg" alt="image" height="250px" width="190px">
  </div>

  <div class="profile-name">
    <p>
      Tomas Giannini
    </p>
  </div>

</div>

<div class="flex-container2">

  <button mat-raised-button class="profile-headings">
    Your Events
  </button>

  <button mat-raised-button class="profile-headings">
    Upcoming Events
  </button>

  <button mat-raised-button class="profile-headings">
    Past Events
  </button>

</div>
