:host {
  display: block;
  margin-top: 1rem;
}

.post-image {
  width: 200px;
  height: 300px;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

mat-paginator {
  margin-top: 1rem;
}

.categories-title {
  color: black;
  text-align: left;
  font-size: 30px;
}

.nearby-events {
  color: black;
  text-align: left;
  font-size: 50px;
}

mat-chip {
  color: black;
  width: 110px;
}

.event-title {
  font-size: large;
  font-weight: 500;
}
