:host {
  display: block;
  margin-top: 1rem;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

mat-paginator {
  margin-top: 1rem;
}




.wrapping{
  margin: 0 auto;
  width: 1320px;
}
.wrapping::after{
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.wrapping > div{
  float: left;
  margin-left: 40px;
  width:400px;
}
.wrapping > div:first-child{
  margin-left: 0;
}
.wrapping > div > .card{
  margin-bottom: 20px;
}
