<div>
  <p class="categories-title">Categories</p>
</div>
<div>
  <mat-chip-list aria-label="Fish Selection">
    <mat-chip>Sports</mat-chip>
    <mat-chip>Movies</mat-chip>
    <mat-chip>Dating</mat-chip>
    <mat-chip>Photography</mat-chip>
    <mat-chip>Food</mat-chip>
    <mat-chip>Performance</mat-chip>
    <mat-chip>Night Out</mat-chip>
    <mat-chip>Gaming</mat-chip>
    <mat-chip>Shopping</mat-chip>
    <mat-chip>Boys Only</mat-chip>
    <mat-chip>Girls Only</mat-chip>
    <mat-chip>Parents Only</mat-chip>
  </mat-chip-list>

</div>

<br> <br>

<div>
  <p class="nearby-events">Nearby Events</p>
</div>

<br>

<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">

    <mat-expansion-panel-header>
      <p class="event-title">{{ post.title }}</p>
    </mat-expansion-panel-header>

    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>

    <p>{{ post.content }}</p>

    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
      <button mat-flat-button color="accent">I'm going!</button>
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>

    <p>dddd</p>

  </mat-expansion-panel>
</mat-accordion>

<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts added yet!</p>
